.password-wrapper {
	height: 100vh;
}
.password-logo-image{
	max-width: var(--logo-max-width);
}
.password-modal__content {
	color: initial;
	height: auto;
}
.modal-dialog__body {
	overflow-y: auto;
}
.password__admin-account a {
	z-index: 0;
}
.password__logo {
	margin-bottom: calc(var(--font-body-size)* 1.5);
}

@media(max-width: 1194px) {
	.password-wrapper {padding: 0!important;}
	
}
@media(min-width: 459px) {
	.password-logo-image{
		max-width: var(--logo-width-desktop);
	}
}